<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate - Teeket</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="main-clean">
    <form th:action="@{/validate/{eventId}/{ticketId}(eventId=${eventId}, ticketId=${ticketId})}" method="POST"
          class="customForm">
        <fieldset class="form form-small">
            <div>
                <h3>Authorization required</h3>
            </div>
            <div class="form-input">
                <label for="code" class="form-label mt-4">Moderation code</label>
                <input type="password" class="form-control" id="code"
                       placeholder="e.g. '1234'" name="code" required>
            </div>
            <div class="button-container">
                <button type="Submit" class="button-full">Submit</button>
            </div>

            <span class="error" th:fragment="message" th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
        </fieldset>
    </form>
</div>
</body>
</html>