@font-face {
    font-family: Outfit;
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

a {
    text-decoration: none;
}

.navbar {
    flex: 1;
    position: sticky;
    background-color: #f5426f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    min-height: 40px;
    max-height: 75px;
    padding: 2vh;
    overflow: hidden;
    border-radius: 5px 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2.5px 2.5px 2.5px #940d2f;
}

.navbar * {
    color: white;
    font-size: 18px;
    font-family: Outfit;
}

.navbar-title {
    flex: 1;
}

.navbar-elements {
    display: flex;
    gap: 2vh;
}

.navbar-item > a {
    text-decoration: none;
    color: inherit;
}

.navbar-item:hover {
    color: #ffccd9;
}

.navbar-submit {
    background: none;
    border: 0;
    padding: 0;
}

.navbar-submit:hover {
    cursor: pointer;
}

.main {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: Lato;
    font-size: 15px;
    padding: 2vh;
    box-shadow: 2.5px 2.5px 2.5px #c2c2c2;
}

.notification {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    color: black;
    font-family: Lato;
    font-size: 15px;
    padding: 2vh;
    box-shadow: 2.5px 2.5px 2.5px #c2c2c2;
}

button {
    background-color: #dedede;
    font-family: Lato;
    padding: 1vh;
    border: 0;
    box-shadow: 0px 0.25px 1.5px #8a8a8a;
    transition: 0.15s;
}

button:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

fieldset {
    border: 0;
}

.button-container {
    display: flex;
    gap: 1vh;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.25vh;
}

.form-row {
    display: flex;
    gap: 1.5vh;
}

.form-row-element {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

input[type='email'], input[type='password'], input[type='text'], select {
    background-color: #e6e6e6;
    font-family: Lato;
    padding: 1vh;
    border: 0;
    box-shadow: 0px 0.15px 1.5px #a3a3a3;
    transition: 0.15s;
    min-height: 25px;
}