<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Events - Teeket</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:insert="~{navbar.html :: navbar}"></div>

<div class="bodyContainer">
    <table class="table table-hover">
        <thead>
            <td><strong>Name</strong></td>
            <td><strong>Creation date</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Actions</strong></td>
        </thead>
        <tr th:each="event : ${eventList}">
            <td th:text="${event.name}"></td>
            <td th:text="${#temporals.formatISO(event.creationDate)}"></td>
            <td th:text="${event.eventType}"></td>
            <td><a th:href="@{/}">View Tickets</a> <a th:href="@{/}">Delete Event</a></td>
        </tr>
    </table>
</div>
</body>
</html>