<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Home - Teeket</title>
</head>
<body>
<div th:insert="~{navbar.html :: navbar}"></div>

<div th:insert="~{message.html :: message}"></div>

<div class="main">
    <h1>Events</h1>
    <div class="box">
        <div class="box-element">
            <h2>Active Events</h2>
            <p>0 active events</p>
        </div>
        <div class="box-element">
            <h2>Valid Tickets</h2>
            <p>0 valid tickets</p>
        </div>
        <div class="box-element">
            <h2>Invalidated Tickets</h2>
            <p>0 invalidated tickets</p>
        </div>
        <div class="box-element">
            <h2>Latest Event Updates</h2>
            <p>No event updates.</p>
        </div>
    </div>
</div>
</body>
</html>