<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teeket</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<nav class="navbar" th:fragment="navbar">
    <div class="navbar-title">
        <a th:href="@{/}">teeket</a>
    </div>
    <div class="navbar-elements">
        <div class="navbar-item" sec:authorize="isAuthenticated()">
            <a th:href="@{/events}">My Events</a>
        </div>
        <div class="navbar-item" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout" class="navbar-item navbar-submit">
            </form>
        </div>
        <div class="navbar-item" sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
        </div>
        <div class="navbar-item" sec:authorize="isAnonymous()">
            <a th:href="@{/register}">Register</a>
        </div>
    </div>
</nav>
</body>
</html>