<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Teeket</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:insert="~{navbar.html :: navbar}"></div>

<div th:insert="~{message.html :: message}"></div>

<div class="main">
    <form th:action="@{/login}" method="POST">
        <fieldset class="form">
            <div>
                <h3>Sign in to your account</h3>
                <p>Want to register for a new account? <a href="register">Click here</a></p>
            </div>
            <div class="form-input">
                <label for="email" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="e.g. johndoe@teeket.io" name="username" required>
            </div>
            <div class="form-input">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Type in your password"
                       autocomplete="off" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit">Login</button>
                <a th:href="@{/oauth2/authorization/google}">
                <button class="button-github">
                    <img th:src="@{/brand-icons/github.png}" width="20" height="20">
                    Sign in with GitHub
                </button>
                </a>
                <a th:href="@{/oauth2/authorization/github}">
                <button class="button-google">
                    <img th:src="@{/brand-icons/google.png}" width="20" height="20">
                    Sign in with Google
                </button>
                </a>
                <button disabled>Forgot Password</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>